$twitter: #39a9e4;
$tumblr: #3c516a;
$youtube: #f90000;
$facebook: #31569e;
$pinterest: #e60015;
$instagram: #4d4d4d;

$black30: #00000003;

$gray70: #b3b3b3;
$gray85: #d8d8d8;
$gray90: #e6e6e6;
$gray94: #f0f0f0;

$white: #ffffff;
$white30: #ffffff30;

$primary: #0052cc;
$orange: #f9ad3d;
$violet: #9f00ff;
$aqua: #3aa4d2;
$red: #f74236;
$purple: #5553ce;
$green: #34cb49;

$text: #808080;
$border: #f5f5f5;
$hover: #fcfcfc;
$text-nav: #435370;

// Table
$table-heading-text: #666;
$table-text: #999;

// Icon
$icon-default: #97a0af;
