.dropdown-item {
  color: #000 !important;
  padding-left: 15px;
  padding-right: 30px;
}

.dropdown-item:hover {
  color: #0052cc !important;
  background-color: #fff !important;
  text-decoration: none !important;
  padding-left: 15px;
}

