svg {
  vertical-align: inherit;
}

.material-design-icon.icon-2x {
  height: 24px;
  width: 24px;
  bottom: 0px;
}

.material-design-icon.icon-2x > .material-design-icon__svg {
  height: 24px;
  width: 24px;
  bottom: 0px;
}
