@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&display=swap&subset=vietnamese');

@import 'fonts';
@import 'colors';

$blue: $primary;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

@import 'text';
@import 'sizes';
@import 'form';
@import 'table';
@import 'button';
@import 'icon';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  font-size: 14px;
  color: $text;
  letter-spacing: 0;
  line-height: 30px;
}
