@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap&subset=vietnamese');

@import 'colors';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  font-size: 14px;
  color: $text;
  letter-spacing: 0;
  line-height: 30px;
}

@import 'text';
