@import '@pubnow/ui/scss/_fonts.scss';

body {
  background-color: #fff !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.25s ease-in-out;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translate3d(0, 5px, 0);
}

.va-btn-block {
  width: 100% !important;
  display: flex;
}

*:focus {
  outline: 0px !important;
}

// Froala Editor
.fr-toolbar.fr-top,
.second-toolbar {
  border-radius: 0;
}

.content-article {
  * {
    font-size: 19px;
    line-height: 1.58;
    font-family: $noto !important;
  }
}

// Dropdown
.va-dropdown-con .va-dropdown-menu {
  max-height: unset !important;
}

.middot {
  padding-right: 0.3em;
  padding-left: 0.3em;
  font-size: 16px;
  &::after {
    content: '\00B7';
  }
}

.w-title {
  width: 40% !important;
}

.notification-dropdown {
  .va-dropdown-menu {
    left: -96px !important;
  }
}
