@import '@pubnow/ui/scss/_fonts.scss';

body {
  background-color: #fcfcfc !important;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.25s ease-in-out;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translate3d(0, 5px, 0);
}

.va-btn-block {
  width: 100% !important;
  display: flex;
}

*:focus {
  outline: 0px !important;
}

// Froala Editor
.fr-toolbar.fr-top,
.second-toolbar {
  border-radius: 0;
}

.content-article {
  * {
    font-size: 19px;
    font-family: $noto !important;
  }
}
